.button-container button {
  background-color: #712C6B;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
}

.calendar {
  width: 100%;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0;
  height: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  width: 100px;
  background-color: #712C6B;
  color: white;
}

.date-header {
  position: relative;
}

.day,
.weekday {
  font-weight: bold;
  font-size: 14px;
  color: #712C6B;
}

.event-container {
  position: relative;
  height: 100%;
}

.event {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8B0000;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event:hover {
  overflow: visible;
}

.event + .event {
  margin-top: 2px;
}

button {
  background-color: #ffffff;
  color: #712C6B;
  border: #712C6B solid 1px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #712C6B;
  color: white;
}

.event.labStyle {
  background-color: #23436b;
}

.event.LectureStyle {
  background-color: #2fa414;
}

.event.tutorialStyle {
  background-color: #b70a0a;
}

.event.casualStyle {
  background-color: #b46b0e;
}

.event.SEventStyle {
  background-color: #a90ea1;
}

.week-row {
  background-color: #f2f2f2;
  font-weight: bold;
}

.week-row td {
  padding: 8px;
}

.week-row .day {
  color: #712C6B;
}
