table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: aliceblue;

}



th, td {
  padding: 10px;
}





tbody, thead, td {
  text-align: center;
}


.freeTimeStyle {
  background-color: #ccffb3;
  color: black;
  border: 1px solid black;

}
.classStyle {
  background-color: #ffb3ff;
  color: black;
  border: 1px solid black;

}
