<div class="topbar">
  <div class="burger-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <div class="button-container">
    <div>
      <button [routerLink]="['/calender']" routerLinkActive="active">Manage Schedule</button>
    </div>
    <div>
      <button [routerLink]="['/eventsList']">Events</button>
    </div>
    <div>
      <button [routerLink]="['/chat']">Chat</button>
    </div>
    <div>
      <button [routerLink]="['/profile']">
        Profile
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
