<div class="event-background">
  <div *ngIf="events">
    <ul *ngFor="let event of events">
      <div *ngIf="!event.active">
        <div class="event">
          <h3 class="event-name">{{event.name}}</h3>
          <div class="event-details">
            <div><strong>Location:</strong> {{event.place}}</div>
            <div><strong>Time:</strong> {{ event.startTime }} - {{ event.endTime }}</div>
            <div><strong>Date:</strong> {{ event.date | date: 'MMM d' }}</div>
          </div>
          <p class="event-description">{{event.description}}</p>
          <button class="join-event" (click)="joinEvent(event)">Join Event</button>
        </div>
      </div>
    </ul>
  </div>
</div>
