.event-background {
  background-color: #712C6B;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items:  center;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.event {
  background-color: #DEE2E6;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  width: 1000px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.event-name {
  font-weight: bold;
  color: #712C6B;
  margin-top: 0;
  margin-bottom: 10px;
}

.join-event {
  padding: 10px 20px;
  background-color: #712C6B;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-event:hover {
  background-color: #531D51;
}

.event-details {
  margin-bottom: 10px;
}

.event-details div {
  margin-bottom: 5px;
}

.event-details strong {
  font-weight: bold;
  color: #712C6B;
}

.event-description {
  color: #333;
  margin-top: 10px;
}
