<!DOCTYPE html>
<html>
<head>
  <title>Create New Activity</title>
</head>
<body>
<h1>Create New Activity</h1>

<form>
  <label for="activity-name">Activity Name:</label>
  <input type="text" id="activity-name" name="activity-name"><br><br>

  <label for="location">Location:</label>
  <input type="text" id="location" name="location"><br><br>

  <label for="time-frame">Time Frame:</label>
  <input type="text" id="time-frame" name="time-frame"><br><br>

  <label for="description">Description:</label>
  <textarea id="description" name="description"></textarea><br><br>

  <button type="button" onclick="inviteFriends()">Invite Friends</button>
  <button type="button" onclick="addMore()">Confirm</button>
</form>

<script>
  function inviteFriends() {
    // To do
    alert("Friends invited");
  }

  function addMore() {
    // To do
    alert("Confirmed");
  }
</script>
</body>
</html>

